<h1>Para registro</h1>
<div id="bind-attribute">
	<span v-bind:title="message">
		Holaaaa
	</span>
	<%= form_with do |form| %>
		<%= form.label :name, "Nombre" %>
		<%= form.text_field :name %>
		
</div>
