<div class="container m-8">
  <p class="text-center text-6xl"> Sobre esto que se está construyendo </p>
	<div class="my-8 p-8 bg-indigo-200 rounded-md">
		<p class="text-center">Esto es para escritos que lejos de querer dar opinión, son lo primero que pienso después de ver o leer algo</p>
	</div>
</div>
